<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <connectionStrings>
        <add name="AriAgro" connectionString="Server=localhost;Database=ariagro4;Uid=root;Pwd=aritel;" providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
  <appSettings>
    <add key="cooperativa" value="71"/>
    <add key="usuario" value="adpicassen"/>
    <add key="password" value="p33442n84"/>
  </appSettings>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="LoginSoap" maxReceivedMessageSize="1000000000" />
                <binding name="JSVConsultaExpedienteSoap" maxReceivedMessageSize="1000000000" />
            </basicHttpBinding>
            <customBinding>
                <binding name="LoginSoap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
                <binding name="JSVConsultaExpedienteSoap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://anecoopintegracion.anecoop.com/ServiciosWeb/Login.asmx"
                binding="basicHttpBinding" bindingConfiguration="LoginSoap"
                contract="AnecoopLogin.LoginSoap" name="LoginSoap" />
            <endpoint address="http://anecoopintegracion.anecoop.com/ServiciosWeb/Login.asmx"
                binding="customBinding" bindingConfiguration="LoginSoap12"
                contract="AnecoopLogin.LoginSoap" name="LoginSoap12" />
            <endpoint address="http://anecoopintegracion.anecoop.com/ServiciosWeb/ConsultaExpediente.asmx"
                binding="basicHttpBinding" bindingConfiguration="JSVConsultaExpedienteSoap"
                contract="AnecoopConsultaExpediente.JSVConsultaExpedienteSoap"
                name="JSVConsultaExpedienteSoap" />
            <endpoint address="http://anecoopintegracion.anecoop.com/ServiciosWeb/ConsultaExpediente.asmx"
                binding="customBinding" bindingConfiguration="JSVConsultaExpedienteSoap12"
                contract="AnecoopConsultaExpediente.JSVConsultaExpedienteSoap"
                name="JSVConsultaExpedienteSoap12" />
        </client>
    </system.serviceModel>
</configuration>